# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Environment
.env

# Editor
.vscode/
.history/

# Logs
*.log
